html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

p,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.page-section {
  padding: 100px 0;
}
